.container-fluid {
    width: 98%;
}

/* navbar */
.navbar {
    background-color: #fcfcfc;
}

nav img {
    width: 145px;
    height: 91px;
    margin: -14px -25px 0px 18px
}

.navbar-light .navbar-nav .nav-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(0, 0, 0, 0.578);
    margin: 10px;
}

nav ul li {
    margin: 15px -2px 13px -2px;
    ;

}

nav ul li .dropdown {
    margin-top: 6px;
    margin-right: 10px;
}

nav ul li .btn-logo {
    background-color: rgba(154, 51, 250, 0.272);
    margin: 2px -12px 0px 11px;
}

nav ul li .svg-inline--fa {
    color: rgb(80, 0, 142);

}

nav .form-inline .form-control {
    width: 632px;
    margin: 5px 17px 5px 5px;
    text-align: end;
}

nav .dropdown-toggle {
    border: 0.1px solid #d4d9df;
    margin-top: 2.2px;
    padding: 6px 50px;
}

nav .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    margin-right: -40px;
    margin-left: 49px;

}

@media screen and (max-width: 600px) {
    nav .form-inline .form-control {
        width: 330px;
        margin: 5px 17px 5px 5px;
        text-align: end;
    }
}

/* proflie section */
.container-fluid .lastProf {
    background-image: url('https://picsum.photos/400/600');
    border-radius: 25px 0px 0px 25px;
    height: 481px;
    opacity: 0.8;
}

.lastProf {
    right: -15px;
}

.lastProf .nav-pills a {
    color: white;
}

.lastProf .nav-pills a:hover {
    background-color: white;
    color: orange;
}
.none{
    display: none;
}
.none li a{
    color: black;
}
.none li a:hover{
    background-color: white !important;
    color: orange !important;
}

@media screen and (max-width: 600px) {
    .lastProf {
        margin: 30px;
        border-radius: 30px;
        display: none;
    }

    .container-fluid .lastProf {
        border-radius: 25px;
        height: 481px;
        margin: 15px 4px;
        width: 90%;
    }

    .firstProf {
        margin: 20px -8px;
    }

    .firstProf .col-md-4 {
        position: relative;
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .firstProf .col-md-8 {
        width: 60%;
        text-align: right !important;
    }
    .none{
        display: block;
    }
}

/* footer */
footer .main-footer {
    padding: 20px 0;
    background: linear-gradient(to bottom, #ff0099, #493240);

}

footer ul {
    padding-left: 0;
    list-style: none;
}


.footer-copyright {
    background: rgb(255, 255, 255);
    color: black;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: black;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: black;
    margin: 2px 0 0;
}

.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}


footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}


footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}


.footer- .logo {
    display: inline-block;
}


.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: white;
}

.widget li a:hover {
    color: orange;
    text-decoration: none;
}

.widget-title {
    margin-bottom: 20px;
    margin-right: 55px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 40%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
    border-radius: 10px;
    background: linear-gradient(to bottom, #fceabb, #f8b500);
    margin: 35px;
}


ul.social-footer2 li {
    display: inline-block;
    padding: 10px 2px;
    margin: 8px 2px;
}

ul.social-footer2 li a:hover {
    background-color: #ff8d1e;
    border-radius: 18px;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}



.btn:hover,
.btn:focus,
.btn.active {
    background: #4b92dc;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;

}